<p-tabMenu [model]="items"></p-tabMenu>
<div class="card">
  <h5>HHNOTESS</h5>
  <p-splitter [style]="{ height: '300px' }" styleClass="p-mb-5">
    <ng-template pTemplate>
      <div class="p-col p-d-flex p-ai-center p-jc-center">
        <div *ngFor="let item of notes">
          <li style="cursor: pointer" (click)="editNote(item)">
            {{ item.author }} : {{ item.title }}
          </li>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate>
      <div class="p-col p-d-flex p-ai-center p-jc-center" *ngIf="selectedNote">
        <!-- <h5>{{ selectedNote.title }}</h5> -->
        <p-fieldset legend="{{ selectedNote.title }}">
          <p>{{ selectedNote.note }}</p>
        </p-fieldset>
      </div>
    </ng-template>
  </p-splitter>
</div>
